---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import logo from "../assets/img/logoAnimated.png";
import "../styles/global.css";

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="es-ES">
	<head>
		<link rel="icon" type="image/svg+xml" href={logo.src} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="keywords"
			content="gatos, persa, ágatha, criadero, gatos persa, gatos en adopción, gatos en venta, gatos en familia"
		/>
		<meta name="author" content="Nicolás Adrián Bernal Bermúdez" />
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.agathagatospersa.com" />
		<meta property="og:image" content="/assets/img/banner.png" />
		<meta property="og:image:alt" content="Banner de Ágatha Gatos Persa" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@AgathaGatosPersa" />
		<meta name="twitter:creator" content="@AgathaGatosPersa" />	
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/assets/img/banner.png" />
		<meta name="twitter:image:alt" content="Banner de Ágatha Gatos Persa" />	
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Balsamiq Sans", cursive;
		background: url(../assets/img/banner.png) fixed no-repeat center center;
		background-size: cover;
		scrollbar-color: #FF6B6B #2E2E2E;
	}
</style>
